@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
}

.contain {
  max-width: 1300px;
  margin: 0 auto;
}
/* Navbar section */
header {
  background-color: white;
}
main {
  height: 600px;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 63px;
}
.home-word {
  font-size: 1rem !important;
  color: #757575;
}
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click-in-for-more {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: #4b5d67;
}
.home-word:hover {
  color: #414141;
}

.a-tag {
  font-size: 1rem !important;
  color: #757575;
}
.a-tag:hover {
  text-decoration: none;
  color: #414141;
}
.exclamation {
  color: #ff414d;
}
.notification {
  font-size: 1rem;
}
.exchange-request-div {
  display: flex;
  height: 100px;
}
.exchange-request-image-div {
  width: 200px;
  overflow: hidden;
  padding: 5px 0;
}

.exchange-request-image-div img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

.product-name {
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
  color: #757575;
}
.product-name-confirm {
  font-size: 1.2rem;
  margin: 10px;
  color: #757575;
}
.confirm-btn {
  margin-right: 10px;
  font-size: 0.8rem;
}
.accepted-request {
  color: #28df99;
}

.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a,
.log-out-tag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #757575;
}
.profile-preview a:hover,
.log-out-tag:hover {
  text-decoration: none;
  color: #414141;
}
.profile-preview div {
  width: 40px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}
.profile-preview img {
  width: 100%;
}

.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}
footer {
  text-align: center;
  background-color: #ffc93c;
  height: 200px;
  margin-top: 20px;
}
footer p {
  color: white;
  padding-top: 100px;
}

.back-btn {
  font-size: 1.2rem;
  color: #757575;
  margin-top: 10px;
  margin-left: 10px;
}

.edit-form {
  box-sizing: border-box;
  max-width: 600px;
  border-radius: 8px;
  border: 1px solid #757575;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.3rem;
  color: #414141;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
label.label {
  color: #414141 !important;
  font-size: 1rem !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

.password-section {
  align-self: center;
  text-align: left;
  width: 350px;
}

.custom-file,
.submit-div,
.name-section {
  align-self: center;
  width: 350px;
  margin: 5px 0;
}
.custom-file {
  margin-top: 20px;
}
.submit-div {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.change-name {
  margin-right: 10px !important;
}
.custom-file {
  width: 360px !important;
}
