@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
}
.preview-name {
  padding-top: 6px;
}
.contain {
  max-width: 1300px;
  margin: 0 auto;
}
/* Navbar section */
header {
  background-color: white;
}
main {
  height: 600px;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 63px;
}
.home-word {
  font-size: 1rem !important;
  color: #757575;
}
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click-in-for-more {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: #4b5d67;
}
.home-word:hover {
  color: #414141;
}

.a-tag {
  font-size: 1rem !important;
  color: #757575;
}
.a-tag:hover {
  text-decoration: none;
  color: #414141;
}
.exclamation {
  color: #ff414d;
}
.notification {
  font-size: 1rem;
}
.exchange-request-div {
  display: flex;
  height: 100px;
}
.exchange-request-image-div {
  width: 200px;
  overflow: hidden;
  padding: 5px 0;
}

.exchange-request-image-div img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

.product-name {
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
  color: #757575;
}
.product-name-confirm {
  font-size: 1.2rem;
  margin: 10px;
  color: #757575;
}
.confirm-btn {
  margin-right: 10px;
  font-size: 0.8rem;
}
.accepted-request {
  color: #28df99;
}

.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a,
.log-out-tag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #757575;
}
.profile-preview a:hover,
.log-out-tag:hover {
  text-decoration: none;
  color: #414141;
}
.profile-preview div {
  width: 40px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}
.profile-preview img {
  width: 100%;
}

.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}
.home-button a {
  color: #757575;
}
.home-button a:hover {
  text-decoration: none;
  color: #414141;
}

footer {
  margin-top: 10px;
  text-align: center;
  background-color: #ffc93c;
  height: 200px;
}
footer p {
  color: white;
  padding-top: 100px;
}

/* Main part */
.hidden {
  display: none;
}
.navigation-bar {
  margin-top: 75px;
}
.main-section {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rating {
  text-align: center;
}
.rate-selector {
  padding: 2px;
  font-size: 1rem;
}

.rate-btn {
  padding: 3px 5px;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profile-section {
  border-radius: 10px;
  border: solid 1px #acacac;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.star-icon {
  font-size: 1.5rem;
  color: #f7da46;
}

.history {
  border: solid 1px #acacac;
  border-radius: 6px;
  width: 400px;
  height: 120px;
  overflow: scroll;
}
.history-section {
  border-bottom: solid 1px #acacac;
  padding: 4px;
}
.history-record {
  display: flex;
  justify-content: center;
  color: #757575;
}
.history-record:hover {
  text-decoration: none;
  color: #414141;
}

.history-h5 {
  font-size: 1rem;
  margin: 0 8px 0 8px;
  padding-top: 3px;
  align-self: center;
}
.arrow-icon {
  font-size: 1rem;
  align-self: center;
  color: #4e89ae;
}
.history-date {
  font-size: 0.6rem;
}

.historyTag {
  margin-left: 10px;
  margin-top: 10px;
}
.profile-infomation {
  text-align: center;
}
.profile-infomation {
  box-sizing: border-box;
}

p {
  margin-bottom: 5px !important;
}

.profile-image {
  width: 400px;
  overflow: hidden;
  padding: 10px 0 5px 0 !important;
}
.profile-image img {
  width: 100%;
  object-fit: contain;
  height: 210px;
}

.user-name {
  color: #4e89ae;
  font-size: 1.6rem;
  margin: 15px 0 10px 0 !important;
}

/* right side */
.main-right {
  border-radius: 10px;
  border: solid 1px #acacac;
  padding: 5px;
  min-width: 480px;
}
.button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.admin-section {
  display: flex;
}

.upload-button,
.edit-button {
  margin: 0 15px 0 5px;
  color: #757575;
  font-size: 1.1rem;
}
.upload-button:hover,
.edit-button:hover {
  text-decoration: none;
  color: #414141;
}

.btn-page {
  font-size: 1.5rem;
  color: rgb(136, 136, 136);
}

.previous,
.next {
  border: none;
  background-color: white;
  margin: 5px;
}

.image-section {
  width: 600px;
  overflow: hidden;
}
.image-section img {
  width: 100%;
  object-fit: contain;
  height: 310px;
}

.product-grid {
  color: #757575;
  font-size: 1rem;
  margin-top: 10px;
}
.product-grid {
  border-top: #757575 solid 1px;
  padding-top: 10px;
}

.product-grid:hover {
  text-decoration: none;
  color: #414141;
}

.note-text {
  color: #414141;
}
.product-info {
  margin-left: 25px;
  margin-top: 10px;
}
.delete-form {
  text-align: right;
  margin-right: 25px;
}

.name-of-product {
  font-size: 1.5rem;
}
