@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
}

.contain{
    max-width: 1300px;
    margin: 0 auto;

}
/* Navbar section */
header {
    background-color: white;
}
main {
    height: 600px;
}
.nav-area{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.brand-img {
    width: 63px;
    
}
.home-word {
    font-size: 1rem !important;
    color: #757575 ;
}
.word-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.click-in-for-more{
    margin: 0 0 0 10px;
    font-size: 1rem;
    color: #4b5d67;
}
.home-word:hover {
    color: #414141;
}

.a-tag {
    font-size: 1rem !important;
    color: #757575 ;
    
}
.a-tag:hover {
    text-decoration: none;
    color: #414141;
}
.exclamation{
    color: #ff414d;
}
.notification{
    font-size: 1rem;
}
.exchange-request-div {
    display: flex;
    height: 100px;
}
.exchange-request-image-div {
    width: 200px;
    overflow: hidden;
    padding:5px 0 ;

}

.exchange-request-image-div img{
    width: 100%;
    object-fit: contain;
    height: 100px;
}

.product-name{
    font-size: 1.2rem;
    margin: 5px 0 0 10px;
    color: #757575
}
.product-name-confirm{
    font-size: 1.2rem;
    margin: 10px;
    color: #757575
}
.confirm-btn {
    margin-right: 10px;
    font-size: 0.8rem;
}
.accepted-request{
    color: #28df99;
}

.brand-frame{
    padding: 0;
}
.brand-frame img {
    width: 100%;
}

.navbar-padding{
    padding: 0 8px 0 0;
}
.profile {
    display: flex;
    align-items:  center;
}
.profile-preview {
    display: flex;
    align-items:  center;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
}

.profile-preview a , .log-out-tag{
    font-size: 1rem;
    display: flex;
    align-items:  center;
    color:#757575;
}
.profile-preview a:hover, .log-out-tag:hover {
    text-decoration: none;
    color: #414141;
}
.profile-preview div {
    width: 40px;
    margin: 0 10px;
}
.profile-preview p {
 margin: 0 10px 0 0;
}
.profile-preview img {
    width: 100%;
}

.log-div {
    margin: 0 10px 0 15px;
}

.log-div a {
    margin: 0 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    background-color: #ffc93c;
    height: 200px;
  }
  footer p {
    color: white;
    padding-top: 100px;
  }
.back-btn{
    font-size: 1.2rem;
    color: #757575;
    margin-top: 10px;
    margin-left: 10px;
}

.main-div{
    margin-top: 65px;
}

.product-preview-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.product-preview-section a{
    padding: 15px;
    color: #757575;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
}

.product-preview-section a:hover{
    text-decoration: none;
  color: #414141;
}

.image-div{
    width: 450px;
  overflow: hidden;
}
.image-div img{
    width: 100%;
    object-fit: contain;
    height: 310px;
}

.center-div{
    max-width: 1200px;
    margin: 0 auto;
}

.exchange-icon{
    font-size: 4rem;
    color: #07689f;
}


.product-text{
    text-align: center;
    margin-top: 10px;
}

.product-text h5{
    font-size: 1.6rem;
}

.product-text p{
    font-size: 1.1rem;
}
.span-location{
  color: #414141;
}

.time-adding{
    display: flex;
    flex-direction: column;
}
.time-adding-form{
    max-width: 420px;
    margin: 0 5px 0 52px;
    margin-bottom: 10px;

}

.time-adding-form label {
  margin-top: 5px;
  color: #2b2b2b;
}
.time-slot{
    width: 480px;
    height: 450px;
    overflow: scroll;
}

.time-section{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.time-show-section{
    display: flex;
    justify-content: space-between;
    width: 480px;
    padding: 5px;
    border: 1px solid #c6c6c6;

}
.time-show-section p{
    margin: 3px 0 3px 0  !important;
    max-width: 380px;
    overflow-wrap: break-word;
}
.center-div{
    max-width: 1200px;
    margin: 0 auto;
}
.message-p{
    overflow-wrap: break-word;
    max-width: 550px;
}
.grey-span{

    color:#757575;
}

.reject-accept-btn, .complete-cancel-btn{
    display: flex;
    justify-content: center;
}

.reject-accept-btn form, .complete-cancel-btn form{
    margin: 0 7px 0 7px;
}

  
  .time-confirmed h1{
    font-weight: 800;
    color: #07689f;
    font-size: 2.2rem;
    margin: 5px 0 10px 0;
  
  }
  .time-confirmed h3{
    font-size: 1.6rem;
    margin: 5px 0 5px 0;
  }
  .time-confirmed p{
    font-size: 1.6rem;
    margin: 5px 0 5px 0;
  }
  .time-confirmed{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    margin-bottom: 40px;
  }

@media (max-width: 1100px){
    .back-btn{
        margin-top: 30px;
    }
}
@media (max-width: 950px){
    .product-preview-section{
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }
    .exchange-icon{
        transform: rotate(90deg);
        margin: 20px 0;
    }
    

}

@media (max-width: 750px){
.time-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.time-adding-form{
    margin: 0 5px 10px 25px;
}
