@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
}
h5 {
  font-size: 2rem;
  color: #414141;
  margin: 30px 60px;
}
.tohidden {
  display: none;
}
.show-div {
  display: initial;
  animation: fadeInFromNone 0.5s ease-out;
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: initial;
    opacity: 0;
  }

  100% {
    display: initial;
    opacity: 1;
  }
}
.contain {
  max-width: 1300px;
  margin: 0 auto;
}
/* Navbar section */
header {
  background-color: white;
}
main {
  height: 600px;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 63px;
}
.home-word {
  font-size: 1rem !important;
  color: #757575;
}
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click-in-for-more {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: #4b5d67;
}
.home-word:hover {
  color: #414141;
}

.a-tag {
  font-size: 1rem !important;
  color: #757575;
}
.a-tag:hover {
  text-decoration: none;
  color: #414141;
}
.exclamation {
  color: #ff414d;
}
.notification {
  font-size: 1rem;
}
.exchange-request-div {
  display: flex;
  height: 100px;
}
.exchange-request-image-div {
  width: 200px;
  overflow: hidden;
  padding: 5px 0;
}
.hidden {
  display: none;
}
.exchange-request-image-div img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

.product-name {
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
  color: #757575;
}
.product-name-confirm {
  font-size: 1.2rem;
  margin: 10px;
  color: #757575;
}
.confirm-btn {
  margin-right: 10px;
  font-size: 0.8rem;
}
.accepted-request {
  color: #28df99;
}
.confirm-btn {
  font-size: 0.8rem;
}
.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a,
.log-out-tag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #757575;
}
.profile-preview a:hover,
.log-out-tag:hover {
  text-decoration: none;
  color: #414141;
}
.profile-preview div {
  width: 40px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}
.profile-preview img {
  width: 100%;
}

.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}

/* main section */
.product-detail {
  display: flex;
  /* justify-content: space-evenly; */
}
.main-part {
  margin-top: 70px;
}
.back-btn {
  font-size: 1.2rem;
  color: #757575;
  margin-top: 10px;
  margin-left: 10px;
}

/* image section */
.image-section {
  width: 800px;
}

.image-section img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.star-icon {
  font-size: 1.5rem;
  color: #f7da46;
}
.texts {
  font-size: 1.2rem;
  word-wrap: break-word;
  width: 350px;
}
.main-name {
  color: #757575;
  font-size: 1.8rem;
  padding-top: 20px;
  margin-top: 5px;
  border-top: 1px solid #757575;
  display: block;
}
.user-info-section {
  align-self: center;
}
.info {
  color: #757575;
  word-wrap: break-word;
}

.owner-name {
  color: #4e89ae;
}
.owner-name:hover {
  text-decoration: none;
  color: #133b5c;
}
/* like section */
.like-counting {
  margin-left: 12px;
}
.likeBtn {
  cursor: pointer;
  font-size: 1.8rem;
  color: #cb2f53;
  margin-left: 4px;
}

/* comment section */
.comment-area {
  display: flex;
  justify-content: space-evenly;
}
.form-comment {
  margin-top: 15px;
  justify-content: center;
  display: flex;
}
.input-comment-div {
  align-self: center;
}
.make-comment p {
  margin-bottom: 2px !important;
  margin-left: 5px;
}
.comment-section {
  margin-top: 15px;
  border: solid #cccccc 1px;
  width: 550px;
  height: 400px;
  overflow: scroll;
}
textarea {
  overflow: auto;
  width: 550px;
  height: 45px;
  padding: 4px;
  border: 3px solid #cccccc;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-right: 10px;
}

.submit-comment {
  border: none;
  background: #4aaaa5;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 6px;
}

/* request section */
.hidden {
  display: none;
}

footer {
  margin-top: 10px;
  text-align: center;
  background-color: #ffc93c;
  height: 200px;
}
footer p {
  color: white;
  padding-top: 100px;
}
h4 {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 5px;
}
h4 a {
  color: #4e89ae;
}
h4 a:hover {
  text-decoration: none;
  color: #133b5c;
}

.comment-data {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cccccc;
}
.delete-btn {
  padding: 4px 7px;
  margin-top: 20px;
  margin-right: 5px;
}
.comment-content {
  align-self: flex-start;
  overflow-wrap: break-word;
  padding: 5px;
  width: 100%;
  min-width: 300px;
}

.profile-image {
  width: 80px;
  overflow: hidden;
  padding-bottom: 4px;
}

.profile-image img {
  width: 100%;
  object-fit: contain;
  height: 50px;
}

/* request section */
.button-area {
  padding-top: 10px;
}
.requestBtn {
  margin-left: 80px;
  margin-bottom: 10px;
}
.to-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.can_not_request{
  background-color: #c6c6c6;
  color: #787878 !important;
  border: #c6c6c6;
}

.tohidden {
  z-index: 10;
  width: 100%;
  height: 1200px;
  top: 70px;
  position: absolute;
  background-color: rgba(22, 22, 22, 0.5); /* complimenting your modal colors */
  transition: ease-in-out all 0.5s;
}
.tohidden:target {
  visibility: visible;
  display: block;
}

.top-button {
  display: flex;
  justify-content: space-between;
}
.cross {
  position: relative;
  /* margin: 0 auto; */
  left: 2%;
  cursor: pointer;
  font-size: 3rem;
  color: #414141;
}

.btn-page {
  font-size: 1.5rem;
  color: rgb(136, 136, 136);
}

.previous,
.next {
  border: none;
  background-color: white;
  margin: 5px;
}

.white-background {
  background-color: white;
  max-width: 600px;
  height: 770px;
}

/* Copy from profile page */
.delete-form {
  text-align: right;
  margin-right: 25px;
}
.note-text {
  color: #414141;
}

.name-of-product {
  font-size: 1.5rem;
}
.product-info {
  margin-left: 12px;
  margin-top: 10px;
}
.image-section-div {
  width: 500px;
  overflow: hidden;
}
.image-section-div img {
  width: 100%;
  object-fit: contain;
  height: 210px;
}

.product-grid {
  color: #757575;
  font-size: 1rem;
  margin-top: 10px;
}
.product-grid {
  border-top: #757575 solid 1px;
  padding-top: 10px;
}

.hiddenForm {
  transition: ease-in-out 0.5s all;
}

.likeHidden {
  display: none;
}

/* Added stuffs */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 100px;
width: 100px;
outline: black;
background-size: 100%, 100%;
border-radius: 50%;
border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  position: relative;
  left: 15px;
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: "<";
  position: relative;

  right: 30px;
  font-size: 55px;
  color: grey;
}

@media (max-width: 1200px) {
  textarea {
    width: 420px;
  }
  .white-background {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

@media (max-width: 1075px) {
  textarea {
    width: 320px;
  }
}

@media (max-width: 975px) {
  textarea {
    width: 270px;
  }
  .comment-section {
    width: 450px;
  }
}

@media (max-width: 975px) {
  .comment-area {
    display: block;
  }
  .comment-section {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .back-btn {
    margin-top: 22px;
  }
  textarea {
    margin-left: 10px;
  }
}
