@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
}

.contain {
  max-width: 1300px;
  margin: 0 auto;
}

.home-button a {
  color: #757575;
}
.home-button a:hover {
  text-decoration: none;
  color: #414141;
}

/* Navbar section */
header {
  background-color: white;
}
main {
  height: 600px;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 63px;
}
.home-word {
  font-size: 1rem !important;
  color: #757575;
}
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click-in-for-more {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: #4b5d67;
}
.home-word:hover {
  color: #414141;
}

.a-tag {
  font-size: 1rem !important;
  color: #757575;
}
.a-tag:hover {
  text-decoration: none;
  color: #414141;
}
.exclamation {
  color: #ff414d;
}
.notification {
  font-size: 1rem;
}
.exchange-request-div {
  display: flex;
  height: 100px;
}
.exchange-request-image-div {
  width: 200px;
  overflow: hidden;
  padding: 5px 0;
}

.exchange-request-image-div img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

.product-name {
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
  color: #757575;
}
.product-name-confirm {
  font-size: 1.2rem;
  margin: 10px;
  color: #757575;
}
.confirm-btn {
  margin-top: 18px;
}
.accepted-request {
  color: #28df99;
}
.confirm-btn {
  font-size: 0.8rem;
}
.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a,
.log-out-tag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #757575;
}
.profile-preview a:hover,
.log-out-tag:hover {
  text-decoration: none;
  color: #414141;
}
.profile-preview div {
  width: 40px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}
.profile-preview img {
  width: 100%;
}

.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}

.hidden {
  display: none;
}

/* searchbox */

.product-holder {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 10px;
}

.each-grid {
  width: 300px;
  margin: 12px;
  border: rgb(216, 216, 216) solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-holder {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.image-holder .product-image {
  height: 210px;
  width: 100%;
  object-fit: cover;
}

.info-section {
  padding: 0px 10px 0px 10px;
}

.user-image {
  width: 100px;
}
.user-image a:hover {
  text-decoration: none;
}
.user-image img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}
.user-name {
  margin-left: 6px;
}
.user-info-section {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: #c6c6c6 1px solid;
}
.user-a-tag {
  font-size: 1.2rem;
  color: #757575;
}
.upload-word {
  font-size: 1rem;
}
.user-a-tag:hover {
  text-decoration: none;
  color: #414141;
}

.button-area {
  text-align: center;
}
.grey-span {
  color: rgb(104, 104, 104);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.btn-page {
  font-size: 1.5rem;
  color: rgb(136, 136, 136);
}

.previous,
.next {
  border: none;
  background-color: white;
  margin: 5px;
}
.navigation-bar {
  margin-top: 75px;
}
footer {
  text-align: center;
  background-color: #ffc93c;
  height: 200px;
}
footer p {
  color: white;
  padding-top: 100px;
}

@media (max-width: 790px) {
  .upper-part {
    display: block;
  }
  .carousell-section {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .searching-form {
    box-sizing: border-box;
    margin-top: 66px;
    width: 100%;
    background-color: #b0aead72;
    padding: 20px;
  }
  .category-img-section {
    justify-content: space-evenly;
  }

  .product-holder {
    justify-content: space-evenly;
  }
}

@media (max-width: 550px) {
  .category-img-section {
    display: block;
  }
  .grid-img {
    width: 480px;
  }

  .product-holder {
    display: block;
    margin: 0 auto;
  }
  .each-grid {
    width: 480px;
  }
}
