* {
  padding: 0;
  margin: 0;
}

.contain {
  max-width: 1300px;
  margin: 0 auto;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 60px;
}
.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a {
  display: flex;
  align-items: center;
}
.profile-preview div {
  width: 30px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}
.profile-preview img {
  width: 100%;
}

.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLogic {
  width: 30%;
}

.function-box {
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  border: brown 1px solid;
  border-radius: 15px;
}

.google-btn {
  border: solid;
  border-color: #329aef;
}
.google-btn i {
  padding-right: 10px;
  color: #329aef;
}
.colorBlue {
  color: #329aef;
}
.margin-top {
  margin-top: 20px;
}
.label {
  margin-bottom: 3px;
}
.textCenterLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.textCenterLine span {
  background: #fff;
  padding: 0 10px;
}
#error-message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding-left: 10%;
  padding-right: 10%;
}

.custom-file {
  width: 210px;
}
h2 {
  text-decoration: underline;
}

/* product-box */

.cardBox {
  min-height: 200px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: rgba(0, 0, 0, 0.125) solid 1px;
  border-radius: 10px;
}

.productBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCard {
  max-width: 55%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-text p {
  padding: 5px;
}

.imgMax {
  max-width: 45%;
}
.profileImg {
  min-width: 35px;
  max-width: 40px;
  margin: 5px;
}

.log-div a {
  color: #757575;
  font-size: 1rem;
}
.log-div a:hover {
  text-decoration: none;
  color: #414141;
}
.home-word {
  color: #757575;
}
.home-word:hover {
  color: #414141;
}
.back-btn {
  font-size: 1.2rem;
  color: #757575;
  margin-top: 10px;
  margin-left: 10px;
}
.textBold {
  font-weight: 700;
}
