@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
}

.contain {
  max-width: 1300px;
  margin: 0 auto;
}

.pic-contain {
  max-width: 1310px;
  margin: 0 auto;
}
/* Navbar section */
header {
  background-color: white;
}
main {
  height: 600px;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 63px;
}
.home-word {
  font-size: 1rem !important;
  color: #757575;
}
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click-in-for-more {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: #4b5d67;
}
.home-word:hover {
  color: #414141;
}

.a-tag {
  font-size: 1rem !important;
  color: #757575;
}
.a-tag:hover {
  text-decoration: none;
  color: #414141;
}
.exclamation {
  color: #ff414d;
}
.notification {
  font-size: 1rem;
}
.exchange-request-div {
  display: flex;
  height: 100px;
}
.image {
  width: 50px;
}
.image img{
  width: 100%;
  border-radius: 10px;
  height: 50px;
  object-fit: contain;
}
.exchange-request-image-div {
  width: 200px;
  overflow: hidden;
  padding: 5px 0;
}
.hidden {
  display: none;
}
.exchange-request-image-div img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

.product-name {
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
  color: #757575;
}
.product-name-confirm {
  font-size: 1.2rem;
  margin: 10px;
  color: #757575;
}
.confirm-btn {
  margin-right: 10px;
}
.accepted-request {
  color: #28df99;
}
.confirm-btn {
  font-size: 0.8rem;
}
.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a,
.log-out-tag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #757575;
}
.profile-preview a:hover,
.log-out-tag:hover {
  text-decoration: none;
  color: #414141;
}
.profile-preview div {
  width: 40px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}


.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}

/* template ends here */

/* Main section */

.image-container {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.image-container img {
  width: 100%;
  opacity: 0.9;
}
.upper-part {
  display: flex;
  justify-content: space-between;
}
.carousell-section {
  width: 70%;
}
.carousel-item{
  max-width: 1000px;
 }
.carousel-item img{
 height: 610px;
 object-fit: cover;

}
.searching-form {
  box-sizing: border-box;
  margin-top: 50px;
  width: 28%;
  background-color: #b0aead72;
  padding: 25px 20px 20px 20px;
}
.d-block {
  opacity: 0.9;
}
.category-img-section {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.grid-img {
  width: 250px;
  margin: 6px;
  position: relative;
  box-sizing: border-box;
  position: relative;
  height: 210px;
}

.search-button {
  color: rgb(103, 103, 103);
}
.h2 {
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  top: 50%; /* Position Y halfway in */
  left: 50%; /* Position X halfway in */
  transform: translate(-50%, -50%); /* Move it halfway back(x,y) */
}
.grid-img img {
  opacity: 0.9;
  height: 210px;
  width: 100%;
  object-fit: cover;
}
.grid-img a {
  transition: 0.3s all;
}
.grid-img a:hover {
  opacity: 0.4;
}

/* Product section */
.product-holder {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 10px;
}
.each-grid {
  width: 317.2px;
  margin: 5px;
  border: rgb(216, 216, 216) solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-holder {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.image-holder .product-image {
  height: 210px;
  width: 100%;
  object-fit: cover;
}

/* product info section */

.info-section {
  padding: 0px 10px 0px 10px;
}

.user-image {
  width: 100px;
  
}
.user-image a:hover {
  text-decoration: none;
}
.user-image img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}
.user-name {
  margin-left: 6px;
}
.user-info-section {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: #c6c6c6 1px solid;
}

.user-a-tag {
  font-size: 1.2rem;
  color: #757575;
}
.upload-word {
  font-size: 1rem;
}
.user-a-tag:hover {
  text-decoration: none;
  color: #414141;
}

/* button area */

.button-area {
  text-align: center;
}
.grey-span {
  color: rgb(104, 104, 104);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.btn-page {
  font-size: 1.5rem;
  color: rgb(136, 136, 136);
}

.previous,
.next {
  border: none;
  background-color: white;
  margin: 5px;
}

footer {
  
  text-align: center;
  background-color: #ffc93c;
  height: 200px;
}
footer p {
  color: white;
  padding-top: 100px;

}
.direction-icon{
  margin-top: 40px;
}
.cover_filter{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(79, 79, 79, 0.562);
}
@media (max-width: 1300px) {
  .category-img-section{
    justify-content: space-evenly;
  }
}
@media (max-width: 790px) {
  .upper-part {
    margin-top: 70px;
    display: block;
  }
  .carousell-section {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .searching-form {
    box-sizing: border-box;
    margin-top: 66px;
    width: 100%;
    background-color: #b0aead72;
    padding: 20px;
  }

  .product-holder {
    justify-content: space-evenly;
  }
  .grid-img {
    width: 250px;
    margin: 6px;

  }
}

@media (max-width: 550px) {
  .category-img-section {
    width: 100%;
  }
  .grid-img {
    width: 480px;
  }
  .pic-contain {
    width: 100%;
  }
  .contain {
    width: 100% !important;
  }
  .product-holder {
    display: block;
    margin: 0 auto;
  }
  .each-grid {
    width: 100%;
  }
  .carousell-section {
    width: 100%;
  }
  footer{
    width: 100% !important;
  }
  .searching-form {
    width: 100%;
  }
}
