@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
}

.contain {
  max-width: 1300px;
  margin: 0 auto;
}
/* Navbar section */
header {
  background-color: white;
}
main {
  height: 600px;
}
.nav-area {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.brand-img {
  width: 63px;
}
.home-word {
  font-size: 1rem !important;
  color: #757575;
}
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click-in-for-more {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: #4b5d67;
}
.home-word:hover {
  color: #414141;
}

.a-tag {
  font-size: 1rem !important;
  color: #757575;
}
.a-tag:hover {
  text-decoration: none;
  color: #414141;
}
.exclamation {
  color: #ff414d;
}
.notification {
  font-size: 1rem;
}
.exchange-request-div {
  display: flex;
  height: 100px;
}
.exchange-request-image-div {
  width: 200px;
  overflow: hidden;
  padding: 5px 0;
}

.exchange-request-image-div img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

.product-name {
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
  color: #757575;
}
.product-name-confirm {
  font-size: 1.2rem;
  margin: 10px;
  color: #757575;
}
.confirm-btn {
  margin-right: 10px;
  font-size: 0.8rem;
}
.accepted-request {
  color: #28df99;
}

.brand-frame {
  padding: 0;
}
.brand-frame img {
  width: 100%;
}

.navbar-padding {
  padding: 0 8px 0 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-preview {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.profile-preview a,
.log-out-tag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #757575;
}
.profile-preview a:hover,
.log-out-tag:hover {
  text-decoration: none;
  color: #414141;
}
.profile-preview div {
  width: 40px;
  margin: 0 10px;
}
.profile-preview p {
  margin: 0 10px 0 0;
}
.profile-preview img {
  width: 100%;
}

.log-div {
  margin: 0 10px 0 15px;
}

.log-div a {
  margin: 0 5px;
}

.main-div {
  margin-top: 65px;
}
footer {
  margin-top: 30px;
  text-align: center;
  background-color: #ffc93c;
  height: 200px;
}
footer p {
  color: white;
  padding-top: 100px;
}
.back-btn {
  font-size: 1.2rem;
  color: #757575;
  margin-top: 10px;
  margin-left: 10px;
}

.image-section {
  width: 450px;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  object-fit: contain;
  height: 310px;
}

.exchange-icon {
  font-size: 4rem;
  color: #07689f;
  align-self: center;
}

.img-section {
  text-align: center;
  display: flex;
  justify-content: center;
}

.profile-img-section {
  width: 150px;
  overflow: hidden;
}
.profile-img-section img {
  width: 100%;
  object-fit: contain;
  height: 80px;
}

.user-information {
  color: #757575;
  display: flex;
  justify-content: center;
}
.user-information:hover {
  text-decoration: none;
  color: #414141;
}

.user-information h3 {
  margin-top: 8px;
  font-size: 1.2rem;
}
.border {
  padding: 13px;
  border-radius: 9px;
  margin: 0 20px 0 20px;
}
h1 {
  color: #07689f;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #c6c6c6;
}
.detail {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.detail-info {
  display: flex;
  flex-direction: column;
}

.detail h3,
.detail h4,
.detail p {
  font-size: 2rem;
}

@media (max-width: 800px) {
  .img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .exchange-icon {
    transform: rotate(90deg);
    margin: 20px 0;
  }

  .image-section {
    margin-left: 60px;
  }
}

@media (max-width: 600px) {
  .image-section {
    margin-left: 0px;
  }
}
